<%- include ('header.ejs') %>
<%- include ('baner.ejs') %>

<div class="container-xl">
    <div class="row">
      <div class="col-md-12">
        <h2><b style="color: red;">Sản Phẩm Sale</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="row">
                <% for(let i = 0; i < 4 && i < products.length; i++) { %>
                    <% let pro = products[i]; %>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="<%= pro.hinh %>" class="img-fluid" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4><a href="/showproduct/<%= pro.id %>"><%= pro.ten.substring(0, 35) %>...</a></h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price">Giá: <b><%= pro.gia %>  VNĐ</b></p>
                    <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
                  </div>						
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="item carousel-item">
            <div class="row">
                <% for(let i = 4; i < 8 && i < products.length; i++) { %>
                    <% let pro = products[i]; %>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="<%= pro.hinh %>" class="img-fluid" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4><a href="/showproduct/<%= pro.id %>"><%= pro.ten.substring(0, 32) %>...</a></h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price">Giá<b><%= pro.gia %>  VNĐ</b></p>
                    <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
                  </div>						
                </div>
              </div>
              <% } %>						
            </div>
          </div>
          <div class="item carousel-item">
            <div class="row">
                <% for(let i = 8; i < 12 && i < products.length; i++) { %>
                    <% let pro = products[i]; %>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                  <div class="img-box">
                    <img src="<%= pro.hinh %>" class="img-fluid" alt="">									
                  </div>
                  <div class="thumb-content">
                    <h4><a href="/showproduct/<%= pro.id %>"><%= pro.ten.substring(0, 32) %>...</a></h4>									
                    <div class="star-rating">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="item-price">Giá: <b><%= pro.gia %>  VNĐ</b></p>
                    <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
                  </div>						
                </div>
              </div>
              <% } %>						
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      </div>
    </div>
  </div>
  <section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h3>Sản Phẩm Nổi Bật</h3>
										<h2>Danh Sách</h2>
								</div>
						</div>
				</div>
				<div class="row row-cols-1 row-cols-md-4 g-4">
						<!-- Single Product -->
                        <% for(let i = 12; i < 24 && i < products.length; i++) { %>
                            <% let pro = products[i]; %>
                            <div class="col">
                                <div class="card">
                                  <img src="<%= pro.hinh %>" class="card-img-top" alt="...">
                                  <div class="card-body thumb-content">
                                    <h5><a href="/showproduct/<%= pro.id %>" class="card-title"> <%= pro.ten.substring(0, 32) %>... </a></h5>
                                    <p style="margin-top: 5px;" class="card-price">Giá:  <%= pro.gia %>   VNĐ</p>
                                  </div>
                                  <div style="margin-left: 5px;" class="star-rating">
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                  </ul>
                                </div>
                                </div>
                              </div>
                        <%}%>
				</div>
		</div>
</section>
<%- include ('footer.ejs') %>

