<%- include ('header.ejs') %>
<%- include ('baner.ejs') %>
<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h3>Loại Sản Phẩm MeGaSide</h3>
          <h2>Danh Sách</h2>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- Single Product -->
      <% let m = 0; %>
      <% for(let i = 0; i < products.length && m < 20; i++) { %>
        <% let pro = products[i]; %>
        <% if(pro.id_loai === "6") { %>
          <div class="col">
            <div class="card">
              <img src="<%= pro.hinh %>" class="card-img-top" alt="...">
              <div class="card-body thumb-content">
                <h5><a href="/showproduct/<%= pro.id %>" class="card-title"> <%= pro.ten.substring(0, 32) %>... </a></h5>
                <p style="margin-top: 5px;" class="card-price">Giá:  <%= pro.gia %>   VNĐ</p>
              </div>
              <div style="margin-left: 5px;" class="star-rating">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <% m++; %>
        <% } %>
      <% } %>
    </div>
  </div>
</section>
<%- include ('footer.ejs') %>
